
body{
    background-color: #827c6c;
}

p
{
    color: #e3dd35;

}
  .secondParagraph
          {
      background-color: #1b13a5;
    
          }

  .firstParagraph
  {
      color: #da084c;
  }

  .thirdParagraph
  {

      color: #da084c;
      text-decoration: underline;
  }

  .fourthParagraph
  {
      color: #da084c;

  }

